body {
    font-family: "Alegreya", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #B2EEB2;
}

header {
    background-color: #FFB6C1;
    padding: 1rem;
    text-align: center;
    color: white;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Estilo para el día seleccionado */
a.selected, select option[selected] {
    color: white;
    background-color: #B2EEB2;
    border-radius: 15px;
    font-weight: bold;
}



main {
    padding: 3rem;
}

.titulosHora {
    font-size: 2.2rem;
    text-decoration: underline;
}

.tituloPlatillo{
    font-size: 1.5rem;
    font-style: italic;
}

.lista {
    font-size: 20px;
}

#dieta-del-dia {
    background-color: #FFB6C1;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Estilos para pantallas grandes (menú de enlaces) */
#menu-dias-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#menu-dias-ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    font-size: 2rem;
}

#menu-dias-select {
    display: none;
    border: none;
    border-radius: 15px; /* Bordes redondeados */
    background-color: #FFB6C1; /* Fondo que combine */
    color: black; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    box-shadow: 0px 4px 10px rgba(178, 238, 178, 1); /* Sombra del menú */
    text-align: center;
}

#menu-dias-select:hover {
    background-color: #B2EEB2; /* Fondo más claro al pasar el mouse */
    box-shadow: 0px 4px 10px rgba(255, 250, 205, 1); /* Sombra del menú */
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    #menu-dias-ul {
        display: none; /* Ocultar la lista de enlaces */
    }

    #menu-dias-select {
        display: block; /* Mostrar el desplegable */
        width: 100%;
        padding: 10px;
        font-size: 1.2rem;
    }
}


@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 1rem;
    }
}
